{
  "arrowParens": "always",
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "vueIndentScriptAndStyle": true,
  "overrides": [
    {
      "options": {
        "plugins": ["prettier-plugin-svelte"],
        "parser": "svelte",
        "svelteStrictMode": true,
        "svelteAllowShorthand": true,
        "svelteIndentScriptAndStyle": true
      },
      "files": ["**/*.svelte", "**/*.svelte.ts", "**/*.svelte.js"]
    }
  ]
}
